# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
build/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.DS_Store
